---
layout: default
---
<section class="article">
    <article aria-label="본문">
        <div class="content">{{ content }}<p>{{ page.date | date: "%Y.%m.%d." }}</p></div>
    </article>
</section>
<section class="back">
    <a href="javascript:void(0)" onclick="goBack()">← Back</a>
</section>

{% if page.layout == 'post' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('search-input');
        if (searchInput) {
            const postTitle = "{{ page.title | escape }}";
            searchInput.placeholder = postTitle;
            searchInput.addEventListener('blur', function () {
                if (this.value === '') {
                    this.placeholder = postTitle;
                }
            });
        }
    });

    function getCurrentCategoryUrl() {
            const url = window.location.href;
            const pathParts = url.split('/');
            if (pathParts[pathParts.length - 1] === '') {
                pathParts.pop();
            }
            pathParts.pop();
            return pathParts.join('/') + '/';
        }
        
        function goBack() {
            window.location.href = getCurrentCategoryUrl();
        }
</script>
{% endif %}